<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Airport</title>
</head>
<header>
    {% include 'header.html' %}
</header>
<body>
<h1>Create a New Airport</h1>

<form method="POST">
    {% csrf_token %}

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="country">Country:</label>
    <select name="country" id="country">
        {% for country in formatted_countries %}
            <option value="{{ country.code }}">{{ country.name }}</option>
        {% endfor %}
    </select>

    <label for="city">City:</label>
    <input type="text" id="city" name="city" required>

    <input type="submit" value="Create Airport">
</form>
</body>
{% include 'footer.html' %}

</html>
