<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Form</title>
</head>
<body>
<header>
    {% include 'header.html' %}
</header>

<form method="post" id="flight-form">
    {% csrf_token %}
    <p>{{ errors }}</p>
    <label for="origin">Origin:</label>
    <select id="origin" name="origin" required>
        {% for airport in airports %}
            <option value="{{ airport.pk }}">{{ airport }}</option>
        {% endfor %}
    </select><br>

    <label for="destination">Destination:</label>
    <select id="destination" name="destination" required>
        {% for airport in airports %}
            <option value="{{ airport.pk }}">{{ airport }}</option>
        {% endfor %}
    </select><br>

    <label for="departure">Departure Date and Time:</label>
    <input type="datetime-local" id="departure" name="departure" required><br>

    <label for="arrival">Arrival Date and Time:</label>
    <input type="datetime-local" id="arrival" name="arrival" required><br>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" min="0" required><br>

    <label for="cost_of_cancel">Cost of Cancellation:</label>
    <input type="number" id="cost_of_cancel" name="cost_of_cancel" min="0" value="0"><br>

    <label for="airplane">airplane:</label><br>
    <select id="airplane" name="airplane" required>
        {% for plane in airplanes %}
            <option value="{{ plane.pk }}">{{ plane }}</option>
        {% endfor %}
    </select><br>
    <button type="submit">Submit</button>
</form>
</body>
{% include 'footer.html' %}

</html>
